body {
    background: rgb(245, 245, 245);
  }
  
  h1.home{
    text-align: center;
    font-size: 32px;
    font-weight: 900;
    padding: 11px 8px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    background-color: #606DE3;
    color: #FFFFFF;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  form {
    margin-left: 200px;
    width: 40%;
  }